<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ACPI</key>
    <dict>
      <key>Add</key>
      <array>
        <dict>
          <key>Comment</key>
          <string>Change EC0 to EC</string>
          <key>Enabled</key>
          <true/>
          <key>Path</key>
          <string>ACPI\patched\SSDT-EC-USBX.aml</string>
        </dict>
        <dict>
          <key>Comment</key>
          <string>Change GFX0 to IGPU</string>
          <key>Enabled</key>
          <true/>
          <key>Path</key>
          <string>ACPI\patched\SSDT-GPRW.aml</string>
        </dict>
      </array>
      <key>Block</key>
      <array>
        <dict>
          <key>Comment</key>
          <string>Block Apple CPU Power Management</string>
          <key>Enabled</key>
          <true/>
          <key>Identifier</key>
          <string>com.apple.driver.AppleIntelCPUPowerManagement</string>
        </dict>
        <dict>
          <key>Comment</key>
          <string>Block Kernel Panic</string>
          <key>Enabled</key>
          <true/>
          <key>Identifier</key>
          <string>com.apple.driver.watchdog</string>
        </dict>
        <dict>
          <key>Comment</key>
          <string>Block AppleIntelICSNVMe</string>
          <key>Enabled</key>
          <true/>
          <key>Identifier</key>
          <string>com.apple.driver.AppleIntelICSNVMe</string>
        </dict>
      </array>
      <key>Quirks</key>
      <dict>
        <key>DisableRtcChecksum</key>
        <true/>
        <key>FadtEnableReset</key>
        <true/>
        <key>NormalizeHeaders</key>
        <true/>
        <key>ResetHwSig</key>
        <true/>
        <key>RebaseAppleSMC</key>
        <true/>
        <key>SyncTableIds</key>
        <true/>
      </dict>
    </dict>
    <key>Booter</key>
    <dict>
      <key>DeviceProperties</key>
      <dict>
        <key>Add</key>
        <dict>
          <key>PciRoot(0x0)/Pci(0x2,0x0)</key>
          <dict>
            <key>AAPL,ig-platform-id</key>
            <data>AwDImw==</data>
            <key>device-id</key>
            <data>hAaAAA==</data>
            <key>framebuffer-fbmem</key>
            <data>AACQAA==</data>
            <key>framebuffer-patch-enable</key>
            <data>AQAAAA==</data>
            <key>framebuffer-stolenmem</key>
            <data>AAAwAQ==</data>
          </dict>
          <key>PciRoot(0x0)/Pci(0
<dict>
                <key>Model</key>
                <string>MacBookPro16,3</string>
                <key>ProcessorType</key>
                <integer>0x0705</integer>
                <key>ProcessorSubType</key>
                <integer>0x0000</integer>
                <key>DevicePathsSupported</key>
                <array>
                    <string>PciRoot(0x0)/Pci(0x8,0x0)</string>
                    <string>PciRoot(0x0)/Pci(0x2,0x0)</string>
                    <string>PciRoot(0x0)/Pci(0x1c,0x4)/Pci(0x0,0x0)</string>
                    <string>PciRoot(0x0)/Pci(0x1c,0x5)/Pci(0x0,0x0)</string>
                    <string>PciRoot(0x0)/Pci(0x1c,0x6)/Pci(0x0,0x0)</string>
                </array>
                <key>MaxKernel</key>
                <string>21.0.0</string>
                <key>MinKernel</key>
                <string>13.0.0</string>
                <key>ApfsTimeMachineSupport</key>
                <true/>
                <key>SecureBootModel</key>
                <string>Disabled</string>
            </dict>
        </array>
        <key>PlatformInfo</key>
        <dict>
            <key>Automatic</key>
            <false/>
            <key>Generic</key>
            <dict>
                <key>AdviseWindows</key>
                <false/>
                <key>MLB</key>
                <string>W6YLG06KXXXXXXXXX</string>
                <key>ROM</key>
                <data>ESIzRFVm</data>
                <key>SpoofVendor</key>
                <true/>
                <key>SystemProductName</key>
                <string>MacBookPro16,3</string>
                <key>SystemSerialNumber</key>
                <string>WQ2XXXXXXXX</string>
                <key>SystemUUID</key>
                <string>529A83D6-9085-4B54-B3E3-0C88682A7F71</string>
            </dict>
            <key>SMBIOS</key>
            <dict>
                <key>ProductName</key>
                <string>MacBookPro16,3</string>
                <key>BoardProduct</key>
                <string>Mac-E1008331FDC96864</string>
                <key>BoardRevision</key>
                <string>5</string>
                <key>SmUUID</key>
                <string>529A83D6-9085-4B54-B3E3-0C88682A7F71</string>
                <key>BIOSVendor</key>
                <string>Apple Inc.</string>
                <key>BIOSVersion</key>
                <string>6700.155.3.0.0 (iBridge: 18.16.14350.0.0)</string>
                <key>BIOSReleaseDate</key>
                <string>01/05/2021</string>
            </dict>
        </dict>
        <key>UEFI</key>
        <dict>
            <key>Audio</key>
            <dict>
                <key>AudioCodec</key>
                <string>
			<dict>
            <key>Comment</key>
            <string>Customise ACPI</string>
            <key>Enabled</key>
            <true/>
            <key>Patch</key>
            <data>
            AIDPbjNydA==
            </data>
        </dict>
        <dict>
            <key>Comment</key>
            <string>Fix ACPI Errors</string>
            <key>Enabled</key>
            <true/>
            <key>MatchOS</key>
            <string>10.15.x,11.x</string>
            <key>TableLength</key>
            <integer>40</integer>
            <key>Find</key>
            <data>
            XFtbMC00MCBdXG5cdTAwYzsgfA==
            </data>
            <key>Replace</key>
            <data>
            XFtbMC00MCBdXG5cdTAwYzsgIFxuICBBQzA5MTAgKzIwMCAtIElQeXRob24gSUQgKzEwIC0gQUNQSSArMjA0IC0gR0RkNjogKzIgLVxuICBBQzA5MTAgKzIwMCAtIElQeXRob24gSUQgKzEyIC0gQUNQSSArMjA0IC0gR0RkNjogKzIgLVxuICBBQzA5MTAgKzIwMCAtIElQeXRob24gSUQgKzEzIC0gQUNQSSArMjA0IC0gR0RkNjogKzIgLVxuICBBQzA5MTAgKzIwMCAtIElQeXRob24gSUQgKzE0IC0gQUNQSSArMjA0IC0gR0RkNjogKzIgLVxuICBBQzA5MTAgKzIwMCAtIElQeXRob24gSUQgKzE1IC0gQUNQSSArMjA0IC0gR0RkNjogKzIgLVxuICBBQzA5MTAgKzIwMCAtIElQeXRob24gSUQgKzE2IC0gQUNQSSArMjA0IC0gR0RkNjogKzIgLVxuICBBQzA5MTAgKzIwMCAtIElQeXRob24gSUQgKzE3IC0gQUNQSSArMjA0IC0gR0RkNjogKzIgLVxuICBBQzA5MTAgKzIwMCAtIElQeXRob24gSUQgKzE4IC0gQUNQSSArMjA0IC0gR0RkNjogKzIgLVxuICBBQzA5MTAgKzIwMCAtIElQeXRob24gSUQgKzE5IC0gQUNQSSArMjA0IC0gR0RkNjogKzIgLVxufA==
            </data>
        </dict>
        <dict>
            <key>Comment</key>
            <string>SSDT-EC-USBX-LAPTOP</string>
            <key>
		            <key>UEFI</key>
        <dict>
            <key>ConnectDrivers</key>
            <true/>
            <key>DriverOverrides</key>
            <dict>
                <key>AppleMobileFileIntegrity</key>
                <string>SecureBootModel</string>
            </dict>
            <key>Output</key>
            <dict>
                <key>0</key>
                <dict>
                    <key>Alias</key>
                    <string>display0</string>
                    <key>Comment</key>
                    <string>IGPU</string>
                    <key>MaxPixelClock</key>
                    <integer>600000000</integer>
                    <key>MinPixelClock</key>
                    <integer>0</integer>
                    <key>OutputType</key>
                    <string>Internal</string>
                    <key>Signal</key>
                    <string>Auto</string>
                    <key>Use</key>
                    <integer>0</integer>
                </dict>
                <key>1</key>
                <dict>
                    <key>Alias</key>
                    <string>display1</string>
                    <key>Comment</key>
                    <string>Intel HDMI</string>
                    <key>MaxPixelClock</key>
                    <integer>600000000</integer>
                    <key>MinPixelClock</key>
                    <integer>0</integer>
                    <key>OutputType</key>
                    <string>HDMI-A</string>
                    <key>Signal</key>
                    <string>Auto</string>
                    <key>Use</key>
                    <integer>2</integer>
                </dict>
                <key>2</key>
                <dict>
                    <key>Alias</key>
                    <string>display2</string>
                    <key>Comment</key>
                    <string>Intel DP</string>
                    <key>MaxPixelClock</key>
                    <integer>600000000</integer>
                    <key>MinPixelClock</key>
                    <integer>0</integer>
                    <key>OutputType</key>
                    <string>DP</string>
                    <key>Signal</key>
                    <string>Auto</string>
                    <key>Use</key>
                    <integer>3</integer>
                </dict>
                <key>3</key>
                <dict>
                    <key>Alias</key>
                    <string>display3</string>
                    <key>Comment</key>
                    <string>NVIDIA HDMI</string>
                    <key>MaxPixelClock</key>
                    <integer>600000000</integer>
                    <key>MinPixelClock</key>
                    <integer>0</integer>
                    <key>OutputType</key>
                    <string>HDMI-A</string>
                    <key>Signal</key>
                    <string>Auto</string>
                    <key>Use</key>
                    <integer>4</integer>
                </dict>
            </dict>
            <key>ProtocolOverrides</key>
            <dict>
                <key>AppleFramebufferInfo</key>
                <string>Auto</string>
            </dict>
        </dict>
        <key>UIScale</key>
        <string>02</string>
        <key>Kernel</key>
        <dict>
            <key>Quirks</key>
            <dict>
                <key>AppleCpuPmCfgLock</key>
                <true/>
                <key>AppleXcpmCfgLock</key>
               			<key>Quirks</key>
			<dict>
				<key>AppleCpuPmCfgLock</key>
				<true/>
				<key>AppleXcpmCfgLock</key>
				<true/>
				<key>XhciPortLimit</key>
				<true/>
				<key>DisableIoMapper</key>
				<true/>
				<key>AppleSecureBoot</key>
				<false/>
				<key>AllowNvramReset</key>
				<true/>
				<key>ProvideCustomSlide</key>
				<true/>
				<key>ThirdPartyTrimSupport</key>
				<false/>
				<key>DisableLinkeditJettison</key>
				<true/>
				<key>PowerTimeoutKernelPanic</key>
				<false/>
				<key>CustomSMBIOSGuid</key>
				<true/>
				<key>AppleBootPolicy</key>
				<true/>
			</dict>
		</dict>
	</array>
	<key>PlatformInfo</key>
	<dict>
		<key>Automatic</key>
		<true/>
		<key>Generic</key>
		<dict>
			<key>SystemProductName</key>
			<string>MacBookPro16,3</string>
			<key>SystemSerialNumber</key>
			<string>W82503QJHPF</string>
			<key>SystemUUID</key>
			<string>4DAB4D31-12B4-4D7C-A94B-72FB7F7753C6</string>
			<key>MLB</key>
			<string>C02711406VH01GN00</string>
		</dict>
	</dict>
</dict>
</plist>
